<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>New Century Innovation</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100&display=swap">


  <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/">

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/apple-icon-76x76.png">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <img src="\pineapple-1455590_1280.png" width="60" height="72" alt="Brand logo">
        <p class="navbar-brand" id="title-font">New Century Innovation</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/about">ABOUT US</a></li>
        <li id="contact"><a href="/contact">CONTACT US</a></li>
      </ul>
    </div>
  </nav>

<body>
  <div class="container">
