


The way the home page originally was.


<% posts.forEach(function(post) { %>
  <h1> <%= post.title %> </h1>
  <p><%=post.content.substr(0, 100) + " ..."%>
  <a class="btn-sm btn btn-success" href="/post/ <%= post.title %>">Read more</a>
</p>
<% }) %>
