<%- include("partials/header"); -%>
<div class="homeParagraph2">
<h1>Contact</h1>
<p> <%= contactContent %><a href="/email">matthewadamson34@gmail.com</a> </p>
</div>
<%- include("partials/footer"); -%>
