<%- include("partials/header"); -%>
<div class="homeParagraph2">
<h1>Contact</h1>
<p> <%= contactContent %><a href="/email">matthewadamson34@gmail.com</a> </p>
<a href="https://www.linkedin.com/in/matthew-adamson-360192128/" target="_blank" rel="noreferrer noopenner"><img src="images/linkedin-image.jfif" width="50px" alt="link to linkedin"></a>
</div>
<%- include("partials/footer"); -%>
