<%- include("partials/header") -%>
<div class="divForFailure">
  <h1>Something went wrong.  Please click below to try again.</h1>
  <a class="btn btn-success" href="/newsletter">Try Again</a>
</div>

<%- include("partials/footerA") -%>
