<%- include("partials/header"); -%>
<div class="homeParagraph">
<h1>Home</h1>
<p> <%= homeStartingContent %> </p>
<img class="homeImage" src="images/circle-cropped (6).png" alt="">
</div>










<!-- <h3 class="newsletterInvite">Please sign up for our newsletter!.</h3> -->


<%- include("partials/footer") -%>
