<%- include("partials/header") -%>



  <h1> <%= post.title %> </h1>
  <textarea class="textarea1" name="textArea" rows="25" cols="170">
  <%= post.content %>
  </textarea>




<%- include("partials/footer") -%>
